p {
  font-family: 'Lora', serif;
}

.navbar {
  background-color: rgb(239, 227, 236);
  color: black;
}

.navbar button {
  z-index: 1;
  background-color: #FF6766;
  color: white;
  box-shadow: 0px 2px 2px grey;
}

 .header ul {
   cursor: pointer;
   margin-right: 2rem;
 }

 .header li {
   margin-right: 2rem;
 }

.middle {
  text-align: center;
}

.navbar img {
  max-width: 15rem;
  max-height: 5rem;
}
