<section class="banner" id="section1">
      <p id="title">Leave the stress to us.</p>
    <div class="box-1" (click)="scrollDown()">
      <div class="btn btn-one">
        <span>Learn More</span>
      </div>
    </div>
</section>
<section id="section2">
  <div class="subtitle">
    <p id="sub2">welcome</p>
  </div>
  <div id="text">
    <p><q cite="">
       We offer you a service that will carry out your dream wedding. We do all the planning and organizing,
       but most importantly,
       we take out the stress from you.
       leave “Walking down the
       Aisle” as the only
       stress for your special day
     </q>
    </p>
  </div>
</section>
<section id="section3">
  <div class="subtitle">
     <p>How it works</p>
  </div>
  <div class="imageSteps">
    <div class="">
        <span class="dot"><img src="/assets/consultation.png"></span>
        <p>We listen to your story</p>
    </div>
    <div class="">
      <span class="dot"><img src="/assets/planning.png"></span>
      <p>We plan the exciting event</p>
    </div>
    <div class="">
       <span class="dot"><img src="/assets/wedding.png"></span>
       <p>You experience the memorable event</p>
    </div>
  </div>
</section>
<section id="section4">
  <div class="subtitle" style="text-align: center;">
    <p>Our Packages</p>
  </div>
  <div class="imgBox">
    <div class="containBox" id="containBox1">
      <div id="imgBox1"></div>
      <p>Silver</p>
    </div>
    <div class="containBox" id="containBox2">
      <div id="imgBox2"></div>
      <p>Gold</p>
    </div>
    <div class="containBox" id="containBox3">
      <div id="imgBox3"></div>
      <p>Platinum</p>
    </div>
  </div>
</section>
